{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <hr>

    {% if user.is_authenticated%}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
        {% for b in data %}
        <h3>{{ b.name }}</h3>
        <a>{{ b.tg_url }}</a><br>
        <a>{{ b.tg_name }}</a><br>
        <a>{{ b.description }}</a><br>
        <img src="{{ b.photo }}" width="100" height="100">
        {% endfor %}
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock %}